@mixin positionAbsolute($height, $width, $top, $left) {
  position: absolute;
  height: $height;
  width: $width;
  top: $top;
  left: $left;
}

body {
  margin: 0px 0 0 0;
  background: linear-gradient(#00001c, #040044);
  height: 100vh;
}

#background {
  height: 100vh;
  width: 100vw;
}

#mountains {
  position: absolute;
  bottom: 0;
  z-index: 5;
}

@keyframes moonDown {
    from {top: 0%}
    to {bottom: 100%}
}

#moonControl {
    z-index: 1;
    @include positionAbsolute(50vh, 50vw, 0vh, 30vh);
    height: 100vh;
}

#moon {
    z-index: 1;
    @include positionAbsolute(50vh, 50vw, 100vh, 30vh);
  animation: moonDown 5s linear infinite;
}
#star {
  @include positionAbsolute(10vh, 10vw, 40vh, 70vw);
}
#star2 {
  @include positionAbsolute(20vh, 20vw, 10vh, 5vw);
}
